{% if locale === "de" %}
    {% set data = datocms_data_de %}
{% elseif locale === "es" %}
    {% set data = datocms_data_es %}
{% else %}
    {% set data = datocms_data_en %}
{% endif %}

<div class="py-12 px-4 text-center bg-gray-50">
    <div class="text-xl md:text-3xl font-bold mb-4">
        {{translations[locale].thebest}}
        <span class="p-2 pr-1 border-2 border-gray-200 rounded-xl bg-white">
            {{category.name}}
        </span>
        &nbsp;{{translations[locale].onmallorca}}
    </div>
</div>

<div class="container mx-auto px-4">
    <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 p-4">
        {% for x in data.allProviders %}
        {% if x.mainCategory.slug === category.slug %}
            {% include "provider.html" %}
        {% else %}
            {% for subCategory in x.subCategories %}
                {% if subCategory.slug === category.slug %}
                    {% include "provider.html" %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</div>