<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script type="module" src="https://md-block.verou.me/md-block.js"></script>

<div class="container mx-auto p-4">

    <img class="w-screen h-[25vh] opacity-50 object-cover absolute top-0 left-0 right-0 -z-10 blur-3xl" src="{{provider.photos[0].responsiveImage.src}}" alt="{{provider.name}} image">

    <!-- Check if Palma Beach Partner START -->
    {% for subcategory in provider.subCategories %}
        {% if subcategory.name === "💙 Palma Beach Partner" %}
        <div class="bg-blue-200 ring-1 ring-blue-400 ring-offset-1 ring-offset-white text-[#003b71] mb-4 rounded-lg p-3 flex gap-4 items-center justify-between">
            <div>
                <div class="text-xs md:text-base font-bold">💙 {{provider.name}} is an official Palma Beach Partner</div>
                <div class="hidden md:block text-sm">Palma Beach is a brand created by Playa de Palma entrepreneurs to elevate the area's quality by promoting diverse sectors and improving services for visitors and residents. <a class="text-sm font-bold text-[#003b71] hover:underline" href="https://www.palmabeach.com/who-we-are/" target="_blank" rel="noopener noreferrer">Learn more</a></div>
                
            </div>
            <a class="shrink-0" href="https://www.palmabeach.com/who-we-are/" target="_blank" rel="noopener noreferrer">
                <img class="h-6 md:h-8" src="/images/palma-beach-logo.svg" />
            </a>
        </div>
        {% endif %}
    {% endfor %}
    <!-- Check if Palma Beach Partner END -->

    <!-- Photo grid START -->
    <div class="grid grid-cols-4 md:grid-rows-2 md:h-[480px] gap-1 mb-4 md:mb-8 text-gray-400 rounded-lg overflow-hidden relative">
        <!-- Back button -->
        <a href="javascript:history.back()" class="text-sm md:text-base absolute top-2 md:top-4 left-2 md:left-4 z-10 bg-white bg-opacity-90 hover:bg-opacity-100 text-gray-800 py-2 px-4 rounded-2xl transition-all duration-300 shadow-md">
            ← Back
        </a>
        <div class="col-span-4 md:col-span-2 md:row-span-2 w-full h-full bg-gray-200 overflow-hidden flex items-center justify-center relative min-h-72">
            {% if provider.providerVideoLink %}
            <video
                src="{{provider.providerVideoLink}}"
                class="max-w-none h-72 md:h-full aspect-video"
                playsinline
                autoplay
                muted
                loop
            ></video>
            {% elif provider.externalVideoLink %}
            <iframe 
                width="100%" 
                height="100%" 
                src="https://www.youtube.com/embed/{{provider.externalVideoLink.url.split('v=')[1]}}?autoplay=1&mute=1&loop=1&playlist={{provider.externalVideoLink.url.split('v=')[1]}}" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
                class="absolute top-0 left-0 w-full h-full aspect-video min-h-96"
            ></iframe>
            {% else %}
            <a class="overflow-hidden group w-full h-full hover:brightness-105 text-xs flex items-center justify-center text-center" data-fslightbox="gallery" href="{{provider.photos[0].responsiveImage.src}}">
                <img class="w-full h-full object-cover transition-transform group-hover:scale-110" src="{{provider.photos[0].responsiveImage.src}}" alt="{{provider.name}} image">
            </a>
            {% endif %}
        </div>
        <div class="md:row-span-1 w-full h-full min-h-16 bg-gray-200 overflow-hidden flex items-center justify-center">
            <a class="overflow-hidden group w-full h-full hover:brightness-105 text-xs flex items-center justify-center text-center" data-fslightbox="gallery" href="{{provider.photos[1].responsiveImage.src}}">
            {% if provider.photos[1].responsiveImage.src %}
            <img class="w-full h-full object-cover transition-transform group-hover:scale-110" src="{{provider.photos[1].responsiveImage.src}}" alt="{{provider.name}} image">
            {% else %} 📷 No photo {% endif %}
            </a>
        </div>
        <div class="md:row-span-1 w-full h-full bg-gray-200 overflow-hidden flex items-center justify-center">
            <a class="overflow-hidden group w-full h-full hover:brightness-105 text-xs flex items-center justify-center text-center" data-fslightbox="gallery" href="{{provider.photos[2].responsiveImage.src}}">
            {% if provider.photos[2].responsiveImage.src %}
            <img class="w-full h-full object-cover transition-transform group-hover:scale-110" src="{{provider.photos[2].responsiveImage.src}}" alt="{{provider.name}} image">
            {% else %} 📷 No photo {% endif %}
            </a>
        </div>
        <div class="md:row-span-1 w-full h-full bg-gray-200 overflow-hidden flex items-center justify-center">
            <a class="overflow-hidden group w-full h-full hover:brightness-105 text-xs flex items-center justify-center text-center" data-fslightbox="gallery" href="{{provider.photos[3].responsiveImage.src}}">
            {% if provider.photos[3].responsiveImage.src %}
            <img class="w-full h-full object-cover transition-transform group-hover:scale-110" src="{{provider.photos[3].responsiveImage.src}}" alt="{{provider.name}} image">
            {% else %} 📷 No photo {% endif %}
            </a>
        </div>
        <div class="md:row-span-1 w-full h-full bg-gray-200 overflow-hidden flex items-center justify-center">
            <a class="overflow-hidden group w-full h-full hover:brightness-105 text-xs flex items-center justify-center text-center" data-fslightbox="gallery" href="{{provider.photos[4].responsiveImage.src}}">
            {% if provider.photos[4].responsiveImage.src %}
            <img class="w-full h-full object-cover transition-transform group-hover:scale-110" src="{{provider.photos[4].responsiveImage.src}}" alt="{{provider.name}} image">
            {% else %} 📷 No photo {% endif %}
            </a>
        </div>
    </div>
    <!-- Photo grid END -->

    <div class="grid md:grid-cols-12 gap-12 max-w-screen-lg mx-auto">

        <div class="md:col-span-8">

            <h1 class="text-xl md:text-2xl font-bold md:mb-1">{{provider.name}}</h1>
            <p class="text-gray-700 text-sm">{{provider.address}} – <a href="{{provider.googleMapsLink}}" target="_blank" rel="noopener noreferrer" class="underline">Google Maps</a></p> 

            <div class="flex flex-wrap text-sm md:text-base items-center gap-2 mt-3">
                <div x-data="{ locationAccessAllowed: false, userLocation: null, providerDistance: null, distanceUnit: 'km' }" x-init="
                    locationAccessAllowed = localStorage.getItem('locationAccessAllowed') === 'true';
                    if (locationAccessAllowed) {
                        navigator.geolocation.getCurrentPosition((position) => {
                            userLocation = {
                                latitude: position.coords.latitude,
                                longitude: position.coords.longitude
                            };
                            providerDistance = calculateDistance(
                                userLocation.latitude,
                                userLocation.longitude,
                                {{provider.location.latitude}},
                                {{provider.location.longitude}}
                            );
                        });
                    }
                ">
                    <div x-show="locationAccessAllowed && providerDistance !== null" class="inline-block whitespace-nowrap">
                        <span x-text="'📍' + providerDistance.toFixed(1) + ' ' + distanceUnit"></span>
                    </div>
                    <div x-show="!locationAccessAllowed" @click="
                        locationAccessAllowed = true;
                        localStorage.setItem('locationAccessAllowed', 'true');
                        navigator.geolocation.getCurrentPosition((position) => {
                            userLocation = {
                                latitude: position.coords.latitude,
                                longitude: position.coords.longitude
                            };
                            providerDistance = calculateDistance(
                                userLocation.latitude,
                                userLocation.longitude,
                                {{provider.location.latitude}},
                                {{provider.location.longitude}}
                            );
                        });
                    " class="inline-block">
                        <span>Show distance</span>
                    </div>
                </div>
                {% for subcategory in provider.subCategories %}
                <a class="whitespace-nowrap" href="/{{subcategory.slug}}">
                    {{subcategory.name}}
                </a>
                {% endfor %}
            </div>

            <div class="prose prose-sm md:prose-base max-w-none border-t border-gray-200 mt-4 pt-4">
                <md-block>{{provider.description}}</md-block>
            </div>
            <div>
                <h2 class="text-2xl font-bold mb-3">Photo gallery</h2>
                <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                    {% if provider.photos and provider.photos|length > 0 %}
                    {% for image in provider.photos %}
                    <a data-fslightbox="gallery" href="{{image.responsiveImage.src}}">
                        <img class="w-full h-full rounded-xl object-cover aspect-video" src="{{image.responsiveImage.src}}" alt="{{provider.name}} image">
                    </a>
                    {% endfor %}
                    {% else %}
                        🚫 No Photos
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="md:col-span-4">

            <div class="hidden md:flex flex-col divide-y divide-gray-200 rounded-xl border border-gray-200 shadow-lg mb-8 overflow-hidden">
                {% if provider.phone %}
                <a class="p-4 w-full hover:bg-gray-100" href="tel:+{{provider.phone}}">📞&nbsp;&nbsp;Make a call</a>
                {% endif %}
                {% if provider.mail %}
                <a class="p-4 w-full hover:bg-gray-100" href="mailto:{{provider.mail}}">📧&nbsp;&nbsp;Send an email</a>
                {% endif %}
                {% if provider.website %}
                <a class="p-4 w-full hover:bg-gray-100" href="{{provider.googleMapsLink}}">🌐&nbsp;&nbsp;Visit website</a>
                {% endif %}
                {% if provider.googleMapsLink %}
                <a class="p-4 w-full hover:bg-gray-100" href="{{provider.googleMapsLink}}" target="_blank" rel="noopener noreferrer">📍&nbsp;&nbsp;Get directions</a>
                {% endif %}
                {% if provider.instagram %}
                <a class="p-4 w-full hover:bg-gray-100" href="{{provider.instagram}}" target="_blank" rel="noopener noreferrer">📸&nbsp;&nbsp;View Instagram</a>
                {% endif %}
            </div>

            {% if provider.proList %}
            <div class="bg-emerald-100 text-emerald-800 border-2 border-emerald-200 p-4 text-sm rounded-xl mb-4">
                <h3 class="text-base font-bold text-emerald-950">✅ Xclusive {{translations[locale].prolisttitle}}</h3>
                <div class="prose prose-li:p-0 prose-ul:text-base/5 prose-ul:m-0">
                    <md-block>{{provider.proList}}</md-block>
                </div>
            </div>
            {% endif %}

            {% if provider.tipsList %}
            <div class="bg-indigo-100 text-indigo-800 border-2 border-indigo-200 p-4 text-sm rounded-xl mb-4">
                <h3 class="text-base font-bold text-indigo-950">😯 Xclusive {{translations[locale].tiplisttitle}}</h3>
                <div class="prose prose-li:p-0 prose-ul:text-base/5 prose-ul:m-0">
                    <md-block>{{provider.tipsList}}</md-block>
                </div>
            </div>
            {% endif %}

            <div class="w-full  aspect-square bg-gray-200 overflow-hidden rounded-xl">
                <div id="map" class="w-full h-full z-10"></div>
            </div>
        </div>

    <!-- Mobile action bar START -->
    <div class="sm:hidden fixed z-50 bottom-1 left-1 right-1 flex whitespace-nowrap overflow-hidden text-center font-medium text-sm divide-x divide-amber-600 text-amber-950 rounded-xl bg-gradient-to-b from-amber-400 to-amber-500 shadow">
        {% if provider.phone %}
            <a class="py-4 px-2 w-full hover:bg-amber-500 transition-colors" href="tel:+{{provider.phone}}">☎️ Call</a>
        {% endif %}
        {% if provider.mail %}
            <a class="py-4 px-2 w-full hover:bg-amber-500 transition-colors" href="mailto:{{provider.mail}}">✉️ Mail</a>
        {% endif %}
        {% if provider.googleMapsLink %}
            <a class="py-4 px-2 w-full hover:bg-amber-500 transition-colors" href="{{provider.googleMapsLink}}" target="_blank" rel="noopener noreferrer">📍 Directions</a>
        {% endif %}
    </div>
    <!-- Mobile action bar END -->
    </div>

</div>

    
<script>
    var map = L.map('map').setView([{{provider.location.latitude}}, {{provider.location.longitude}}], 15);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    var marker = L.marker([{{provider.location.latitude}}, {{provider.location.longitude}}]).addTo(map);
    //marker.bindPopup("{{provider.name}} - {{provider.address}}").openPopup();
</script>

<script>
    function calculateDistance(lat1, lon1, lat2, lon2) {
        const R = 6371; // Earth's radius in km
        const dLat = deg2rad(lat2 - lat1);
        const dLon = deg2rad(lon2 - lon1);
        const a = 
            Math.sin(dLat/2) * Math.sin(dLat/2) +
            Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
            Math.sin(dLon/2) * Math.sin(dLon/2);
        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
        return Number((R * c).toFixed(1));
    }

    function deg2rad(deg) {
        return deg * (Math.PI/180);
    }
</script>