<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script type="module" src="https://md-block.verou.me/md-block.js"></script>

<div class="max-w-screen-lg mx-auto p-4">

    <!-- Check if Palma Beach Partner START -->
    {% for subcategory in provider.subCategories %}
        {% if subcategory.name === "💙 Palma Beach Partner" %}
        <div class="bg-blue-200 ring-1 ring-blue-400 ring-offset-1 ring-offset-white text-[#003b71] mb-4 rounded-lg p-3 flex gap-4 items-center justify-between">
            <div>
                <div class="text-sm md:text-base font-bold">💙 {{provider.name}} is an official Palma Beach Partner</div>
                <div class="hidden md:block text-sm">Palma Beach is a brand created by Playa de Palma entrepreneurs to elevate the area's quality by promoting diverse sectors and improving services for visitors and residents. <a class="text-sm font-bold text-[#003b71] hover:underline" href="https://www.palmabeach.com/who-we-are/" target="_blank" rel="noopener noreferrer">Learn more</a></div>
                
            </div>
            <img class="h-8" src="/images/palma-beach-logo.svg" />
        </div>
        {% endif %}
    {% endfor %}
    <!-- Check if Palma Beach Partner END -->

    <div class="">

        <div class="flex items-center justify-between">
            <div>
                <h1 class="text-xl md:text-2xl font-bold md:mb-0.5">{{provider.name}}</h1>
                <p class="text-gray-700 text-sm">{{provider.address}} – <a href="{{provider.googleMapsLink}}" target="_blank" rel="noopener noreferrer" class="underline">Google Maps</a></p> 
            </div>
        </div>
        <div class="grid grid-cols-12 md:grid-rows-2 h-64 md:h-80 gap-1 md:gap-2 my-4 text-gray-400 rounded-lg overflow-hidden">
            <div class="col-span-6 md:row-span-2 w-full h-full bg-gray-200 overflow-hidden flex items-center justify-center">
                <a class="w-full h-full" data-fslightbox="gallery" href="{{provider.photos[0].responsiveImage.src}}">
                {% if provider.photos[0].responsiveImage.src %}<img class="w-full h-full object-cover" src="{{provider.photos[0].responsiveImage.src}}" alt="{{provider.name}} image">{% else %} 😮 No more photos {% endif %}
                </a>
            </div>
            <div class="col-span-6 md:col-span-3 md:row-span-1 w-full h-full bg-gray-200 overflow-hidden flex items-center justify-center">
                <a class="w-full h-full" data-fslightbox="gallery" href="{{provider.photos[1].responsiveImage.src}}">
                {% if provider.photos[1].responsiveImage.src %}<img class="w-full h-full object-cover" src="{{provider.photos[1].responsiveImage.src}}" alt="{{provider.name}} image">{% else %} 😮 No more photos {% endif %}
                </a>
            </div>
            <div class="hidden col-span-6 md:col-span-3 md:row-span-1 w-full h-full bg-gray-200 overflow-hidden md:flex items-center justify-center">
                <a class="w-full h-full" data-fslightbox="gallery" href="{{provider.photos[2].responsiveImage.src}}">
                {% if provider.photos[2].responsiveImage.src %}<img class="w-full h-full object-cover" src="{{provider.photos[2].responsiveImage.src}}" alt="{{provider.name}} image">{% else %} 😮 No more photos {% endif %}
                </a>
            </div>
            <div class="col-span-6 md:col-span-3 md:row-span-1 w-full h-full bg-gray-200 overflow-hidden flex items-center justify-center">
                <a class="w-full h-full" data-fslightbox="gallery" href="{{provider.photos[3].responsiveImage.src}}">
                {% if provider.photos[3].responsiveImage.src %}<img class="w-full h-full object-cover" src="{{provider.photos[3].responsiveImage.src}}" alt="{{provider.name}} image">{% else %} 😮 No more photos {% endif %}
                </a>
            </div>
            <div class="col-span-6 md:col-span-3 md:row-span-1 w-full h-full bg-gray-200 overflow-hidden">
                <div id="map" class="w-full h-full z-10"></div>
            </div>
        </div>

    <div class="grid grid-cols-12 w-full gap-8 mt-8">
        <div class="col-span-12 md:col-span-8">
            <!-- Tab Content -->
            <div class="tab-content">
                <!-- Tab: Description -->
                <div x-show="activeTab === 1">

                    
                    <div class="prose prose-sm md:prose-base max-w-none"><md-block>{{provider.description}}</md-block></div>
                </div>
                <!-- Tab: Gallery -->
                <div x-show="activeTab === 2">
                    <h2 class="text-2xl font-bold">Photo gallery</h2>
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                        {% if provider.photos and provider.photos|length > 0 %}
                        {% for image in provider.photos %}
                        <a data-fslightbox="gallery" href="{{image.responsiveImage.src}}">
                            <img class="w-full h-full rounded-xl object-cover aspect-video" src="{{image.responsiveImage.src}}" alt="{{provider.name}} image">
                        </a>
                        {% endfor %}
                        {% else %}
                            🚫 No Photos
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 md:col-span-4">
            <div class="hidden md:flex flex-col divide-y divide-gray-200 font-medium">
                {% if provider.phone %}
                <a class="p-4 w-full hover:bg-gray-100" href="tel:+{{provider.phone}}">📞 Call</a>
                {% endif %}
                {% if provider.mail %}
                <a class="p-4 w-full hover:bg-gray-100" href="mailto:{{provider.mail}}">✉️ Mail</a>
                {% endif %}
                {% if provider.googleMapsLink %}
                <a class="p-4 w-full hover:bg-gray-100" href="{{provider.googleMapsLink}}" target="_blank" rel="noopener noreferrer">📍 Directions</a>
                {% endif %}
            </div>

            <div class="bg-emerald-100 text-emerald-800 border-2 border-emerald-200 p-4 text-sm rounded-xl mb-4">
                <h3 class="text-base font-bold text-emerald-950">⭐️ {{translations[locale].prolisttitle}}</h3>
                <div class="prose prose-li:p-0 prose-ul:text-base/5 prose-ul:m-0">
                    <md-block>{{provider.proList}}</md-block>
                </div>
            </div>
            <div class="bg-indigo-100 text-indigo-800 border-2 border-indigo-200 p-4 text-sm rounded-xl mb-4">
                <h3 class="text-base font-bold text-indigo-950">💡 {{translations[locale].tiplisttitle}}</h3>
                <div class="prose prose-li:p-0 prose-ul:text-base/5 prose-ul:m-0">
                    <md-block>{{provider.tipsList}}</md-block>
                </div>
            </div>
            <div class="border-t border-gray-200 py-8 my-8">
                <h3 class="font-bold mb-4">Categories</h3>
                <div class="flex flex-col gap-4">
                    {% for subcategory in provider.subCategories %}
                    <a class="" href="/{{subcategory.slug}}">
                        {{subcategory.name}}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile action bar -->
    <div class="sm:hidden fixed bottom-2 left-2 right-2 flex text-center font-bold text-sm divide-x divide-gray-700 w-[calc(100%-1rem)] text-white rounded-xl bg-black shadow-lg">
        {% if provider.phone %}
        <a class="p-4 w-full hover:bg-gray-100" href="tel:+{{provider.phone}}">☎️ Call</a>
        {% endif %}
        {% if provider.mail %}
        <a class="p-4 w-full hover:bg-gray-100" href="mailto:{{provider.mail}}">✉️ Mail</a>
        {% endif %}
        {% if provider.googleMapsLink %}
        <a class="p-4 w-full hover:bg-gray-100" href="{{provider.googleMapsLink}}" target="_blank" rel="noopener noreferrer">📍 Directions</a>
        {% endif %}
    </div>
</div>

</div>

    
<script>
    var map = L.map('map').setView([{{provider.location.latitude}}, {{provider.location.longitude}}], 15);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    var marker = L.marker([{{provider.location.latitude}}, {{provider.location.longitude}}]).addTo(map);
    //marker.bindPopup("{{provider.name}} - {{provider.address}}").openPopup();
</script>