{% if locale === "de" %}
    {% set data = datocms_data_de %}
{% else %}
    {% set data = datocms_data_en %}
{% endif %}

<div x-data="sortableList()" class="container mx-auto px-4">

    <div class="flex flex-col xl:flex-row justify-between gap-2 xl:gap-4 text-sm xl:text-base py-4">
        {% include "../search/maincategory.html" %}
        <div class="flex gap-2">
            <div class="w-1/2">{% include "../search/subcategory.html" %}</div>
            <div class="w-1/2">{% include "../search/sorting.html" %}</div>
        </div>
    </div>

    <!-- Add location access toggle -->
    <div class="mb-4 flex items-center">
        <span class="mr-2">{{translations[locale].allowlocation}}</span>
        <button 
            @click="toggleLocationAccess()" 
            :class="{'bg-green-500': locationAccessAllowed, 'bg-red-500': !locationAccessAllowed}"
            class="px-4 py-2 rounded-full text-white"
            x-text="locationAccessAllowed ? '{{translations[locale].allowed}}' : '{{translations[locale].notallowed}}'"
        ></button>
    </div>

    <!-- Iterate through the filtered and sorted items with Alpine.js -->
    <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-2 md:gap-4">
        <template x-for="provider in sortedAndFilteredProviders" :key="provider.id">
            <a :href="'/' + provider.slug" class="bg-gray-500 flex flex-col gap-4 items-center justify-center overflow-hidden px-4 md:px-8 text-center shadow rounded-xl h-32 md:h-48 group relative bg-cover">
                <h2 class="text-lg/6 md:text-2xl text-white font-bold drop-shadow-provider line-clamp-2 z-10" x-text="provider.name"></h2>
                <div class="bg-white rounded-lg py-1 px-2 absolute top-2 left-2 text-[10px] md:text-sm z-10 font-semibold shadow" x-text="provider.mainCategory.name"></div>
                <div x-show="locationAccessAllowed && provider.distance !== null" class="bg-white rounded-lg py-1 px-2 absolute bottom-2 right-2 text-[10px] md:text-sm z-10 font-semibold shadow">
                    <span x-text="'📍' + provider.distance.toFixed(1) + ' ' + distanceUnit"></span>
                </div>
                <div x-show="!locationAccessAllowed" @click.prevent="toggleLocationAccess()" class="bg-white rounded-lg py-1 px-2 absolute bottom-2 right-2 text-[10px] md:text-sm z-10 shadow cursor-pointer">
                    <span>Show distance</span>
                </div>
                <template x-if="provider.photos && provider.photos.length > 0">
                    <img class="absolute inset-0 h-full w-full z-0 transition-all scale-100 group-hover:scale-125 object-cover brightness-75 group-hover:brightness-100" :src="provider.photos[0].responsiveImage.src" :alt="provider.name + ' cover'">
                </template>
            </a>
        </template>
    </div>

    <!-- No Results Message and Reset Button -->
    <div x-show="sortedAndFilteredProviders.length === 0" class="text-center p-4 h-[50vh] flex flex-col gap-3 items-center justify-center">
        <p class="text-lg font-bold">{{translations[locale].noresultsfound}}</p>
        <button @click="resetFilters()" class="bg-red-500 text-white px-4 py-2 rounded-full mt-2">
            {{translations[locale].resetfilter}}
        </button>
    </div>

</div>

<script>
function sortableList() {
    return {
        providers: window.providers,
        mainCategories: window.mainCategories,
        subCategories: window.subCategories,
        sortOrder: 'distanceAsc',  // Default sort order
        searchQuery: '',          // Default search query
        selectedMainCategory: '', // Default main category filter
        selectedSubCategory: '',  // Default subcategory filter
        sortedProviders: [],
        sortedAndFilteredProviders: [],
        locationAccessAllowed: false,

        // Initialize the sorted list, also read URL parameters if present
        init() {
            this.readUrlParams();  // Read URL parameters on page load
            this.sortProviders();  // Sort the providers initially
            this.filterProviders(); // Ensure the filters are applied properly
            this.initLocationAccess(); // Initialize location access
        },

        // Read filter/sort/search parameters from URL
        readUrlParams() {
            const params = new URLSearchParams(window.location.search);

            if (params.has('search')) {
                this.searchQuery = params.get('search');
            }
            if (params.has('mainCategory')) {
                this.selectedMainCategory = params.get('mainCategory');
            }
            if (params.has('subCategory')) {
                this.selectedSubCategory = params.get('subCategory');
            }
            if (params.has('sortOrder')) {
                this.sortOrder = params.get('sortOrder');
            }
        },

        // Update URL parameters whenever filters change
        updateUrlParams() {
            const params = new URLSearchParams();

            if (this.searchQuery) params.set('search', this.searchQuery);
            if (this.selectedMainCategory) params.set('mainCategory', this.selectedMainCategory);
            if (this.selectedSubCategory) params.set('subCategory', this.selectedSubCategory);
            if (this.sortOrder) params.set('sortOrder', this.sortOrder);

            const newUrl = `${window.location.pathname}?${params.toString()}`;  // Update the URL without reloading the page
            history.replaceState(null, '', newUrl);  // Update the URL without reloading the page
        },

        // Reset all filters, search, and sorting
        resetFilters() {
            this.searchQuery = '';          // Reset search query
            this.selectedMainCategory = ''; // Reset main category filter
            this.selectedSubCategory = '';  // Reset subcategory filter
            this.sortOrder = 'distanceAsc';   // Reset to default sort order
            this.sortProviders();           // Re-sort and re-filter the providers
            this.updateUrlParams();         // Update URL parameters
        },

        // Sorting function
        sortProviders() {
            switch (this.sortOrder) {
                case 'ratingAsc':
                    this.sortedProviders = this.providers.sort((a, b) => a.aiRating - b.aiRating);
                    break;
                case 'ratingDesc':
                    this.sortedProviders = this.providers.sort((a, b) => b.aiRating - a.aiRating);
                    break;
                case 'publishedAtAsc':
                    this.sortedProviders = this.providers.sort((a, b) => new Date(a._publishedAt) - new Date(b._publishedAt));
                    break;
                case 'publishedAtDesc':
                    this.sortedProviders = this.providers.sort((a, b) => new Date(b._publishedAt) - new Date(a._publishedAt));
                    break;
                case 'firstPublishedAtAsc':
                    this.sortedProviders = this.providers.sort((a, b) => new Date(a._firstPublishedAt) - new Date(b._firstPublishedAt));
                    break;
                case 'firstPublishedAtDesc':
                    this.sortedProviders = this.providers.sort((a, b) => new Date(b._firstPublishedAt) - new Date(a._firstPublishedAt));
                    break;
                case 'distanceAsc':
                    this.sortedProviders = this.providers.sort((a, b) => {
                        if (a.distance === null && b.distance === null) return 0;
                        if (a.distance === null) return 1;
                        if (b.distance === null) return -1;
                        return a.distance - b.distance;
                    });
                    break;
            }
            this.filterProviders(); // Call filter function after sorting
        },

        // Filtering function
        filterProviders() {
            this.sortedAndFilteredProviders = this.sortedProviders.filter((provider) => {
                let matchesSearch = provider.name.toLowerCase().includes(this.searchQuery.toLowerCase());
                let matchesMainCategory = this.selectedMainCategory === '' || provider.mainCategory.name === this.selectedMainCategory;
                let matchesSubCategory = this.selectedSubCategory === '' || provider.subCategories.some(sub => sub.name === this.selectedSubCategory);
                return matchesSearch && matchesMainCategory && matchesSubCategory;
            });
        },

        // Count the number of providers for each main category
        countProvidersByMainCategory(categoryName) {
            return this.providers.filter(provider => provider.mainCategory.name === categoryName).length;
        },

        // Count the number of providers for each subcategory
        countProvidersBySubCategory(subCategoryName) {
            return this.providers.filter(provider => provider.subCategories.some(sub => sub.name === subCategoryName)).length;
        },

        userLocation: null,
        distanceUnit: 'km', // or 'mi' for miles

        // Initialize location access based on stored preference
        initLocationAccess() {
            const storedPreference = localStorage.getItem('locationAccessAllowed');
            this.locationAccessAllowed = storedPreference === 'true';
            if (this.locationAccessAllowed) {
                this.getUserLocation();
            }
        },

        // Toggle location access
        toggleLocationAccess() {
            this.locationAccessAllowed = !this.locationAccessAllowed;
            localStorage.setItem('locationAccessAllowed', this.locationAccessAllowed);
            if (this.locationAccessAllowed) {
                this.getUserLocation();
            } else {
                this.userLocation = null;
                this.providers.forEach(provider => {
                    provider.distance = null;
                });
                this.sortProviders();
            }
        },

        // Get user's current location
        getUserLocation() {
            if (this.locationAccessAllowed && "geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition((position) => {
                    this.userLocation = {
                        latitude: position.coords.latitude,
                        longitude: position.coords.longitude
                    };
                    this.calculateDistances();
                }, (error) => {
                    console.error("Error getting user location:", error);
                    this.locationAccessAllowed = false;
                    localStorage.setItem('locationAccessAllowed', 'false');
                });
            } else {
                console.log("Geolocation is not available or not allowed.");
            }
        },

        // Calculate distances for all providers
        calculateDistances() {
            if (this.userLocation) {
                this.providers.forEach(provider => {
                    if (provider.location && provider.location.latitude && provider.location.longitude) {
                        provider.distance = this.calculateDistance(
                            this.userLocation.latitude,
                            this.userLocation.longitude,
                            provider.location.latitude,
                            provider.location.longitude
                        );
                    } else {
                        provider.distance = null; // Set distance to null if location data is missing
                    }
                });
                this.sortProviders(); // Re-sort to include distance
            }
        },

        // Calculate distance between two points
        calculateDistance(lat1, lon1, lat2, lon2) {
            const R = this.distanceUnit === 'km' ? 6371 : 3959; // Earth's radius in km or mi
            const dLat = this.deg2rad(lat2 - lat1);
            const dLon = this.deg2rad(lon2 - lon1);
            const a = 
                Math.sin(dLat/2) * Math.sin(dLat/2) +
                Math.cos(this.deg2rad(lat1)) * Math.cos(this.deg2rad(lat2)) * 
                Math.sin(dLon/2) * Math.sin(dLon/2);
            const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
            return Number((R * c).toFixed(1));
        },

        deg2rad(deg) {
            return deg * (Math.PI/180);
        }
    }
}

</script>
