{% if locale === "de" %}
    {% set data = datocms_data_de %}
{% else %}
    {% set data = datocms_data_en %}
{% endif %}

<footer class="bg-gray-950 text-white mt-16 py-16">
    <div class="container px-4 mx-auto flex flex-col gap-8 text-center justify-center">

        <div class="mx-auto">
            <a href="/{% if locale == 'de' %}de/{%endif%}" class="hover:opacity-80 shrink-0">
                <img src="/images/logo-white.svg" alt="Logo" class="h-6 md:h-8">
            </a>
        </div>

        <div>
            {% for x in data.allSubcategories %}
            <a class="p-1 hover:bg-gray-800 rounded inline-block whitespace-nowrap text-xs md:text-sm 2xl:text-base" href="/{{x.slug}}">
                {{x.name}}
            </a>
            {% endfor %}
        </div>

        <div>
            <span>MallorcaXclusive 2024</span> |
            <a href="/{% if locale == 'de' %}de/{%endif%}about">{{translations[locale].about}}</a> |
            <a href="/{% if locale == 'de' %}de/{%endif%}imprint">{{translations[locale].imprint}}</a>
        </div>
    </div>
</footer>