{%- for lgg in languages -%}
    {%- if loop.first -%}
    {%- endif -%}
    {# set translatedUrl to the homepage of that language by default #}
    {%- set translatedUrl -%}/{{lgg.locale}}/{%- endset -%}
    {# set current language class #}
    {%- set activeClass = "" -%}
    {%- set activeAria = "" -%}
    {%- if lgg.locale === locale -%}
    {%- set activeClass = "hidden" -%}
    {%- set activeAria = 'aria-current="page"' | safe -%}
    {%- endif -%}
    {# loop through all the content of the site #}
    {%- for item in collections.all -%}
    {# check matches #}
    {%- if item.data.translationKey == translationKey and item.data.locale == lgg.locale -%}
        {%- set translatedUrl = item.url -%}
    {%- endif -%}
    {%- endfor-%}
    <a class="{{ activeClass }} absolute md:relative top-1 right-3 md:top-0 md:right-0 flex items-center gap-1 hover:bg-gray-100 p-2 rounded-2xl" href="{{ translatedUrl }}">
        <div class="size-6 rounded-full overflow-hidden ">{{ lgg.icon | safe }}</div> {{lgg.label}}
    </a>
    {%- if loop.last -%}
    {%- endif -%}
{%- endfor -%}