<div class="absolute md:relative top-1 right-3 md:top-0 md:right-0">
    <div x-data="{ open: false }" class="relative">
        <!-- Dropdown Button (Current Language) -->
        {%- for lgg in languages -%}
            {%- if lgg.locale == locale -%}
                <button @click="open = !open" class="flex items-center gap-1 hover:bg-gray-100 p-2 rounded-2xl">
                    <div class="size-6 rounded-full overflow-hidden">
                        {{ lgg.icon | safe }}
                    </div>
                    {{ lgg.label }}
                </button>
            {%- endif -%}
        {%- endfor -%}
    
        <!-- Dropdown Menu -->
        <div x-show="open" @click.away="open = false" class="absolute right-0 mt-2 bg-white shadow-lg rounded-lg py-1 w-32 z-10">
            {%- for lgg in languages -%}
                {%- if lgg.locale != locale -%}
                    {# Set default URL to the homepage of the language #}
                    {%- set translatedUrl = '/%s/' % lgg.locale -%}
    
                    {# Check for a matching item with the same translationKey #}
                    {%- for item in collections.all -%}
                        {%- if item.data.translationKey == translationKey and item.data.locale == lgg.locale -%}
                            {%- set translatedUrl = item.url -%}
                        {%- endif -%}
                    {%- endfor -%}
    
                    <!-- Language Option -->
                    <a class="flex items-center gap-1 hover:bg-gray-100 px-4 py-2" href="{{ translatedUrl }}">
                        <div class="size-6 rounded-full overflow-hidden">{{ lgg.icon | safe }}</div> {{ lgg.label }}
                    </a>
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
</div>