<a href="/{% if locale == 'de' %}{{locale}}/{% endif %}{{x.slug}}" class="bg-gray-200 flex flex-col gap-4 items-center justify-center overflow-hidden px-4 md:px-8 text-center shadow rounded-xl h-40 md:h-64 group relative bg-cover">
    <h2 class="text-lg/6 md:text-2xl 2xl:text-3xl text-white font-bold drop-shadow-provider line-clamp-2 z-10">{{x.name}}</h2>
    <div class="bg-black/50 text-white backdrop-blur-xl rounded-lg py-1 px-2 absolute top-1 left-1 text-[10px] md:text-sm z-10 font-medium shadow">{{x.mainCategory.name}}</div>

    {% if x.photos and x.photos|length > 0 %}
    {% set first_image = x.photos[0] %}
        <img
            class="absolute inset-0 h-full w-full z-0 transition-transform scale-100 group-hover:scale-125 object-cover brightness-75"
            src="{{first_image.responsiveImage.src}}"
            alt="{{x.name | slugify}} cover"
        >
    {% endif %}
</a>