<a href="/{% if locale == "de" %}{{locale}}/{% endif %}{{x.name | slugify}}"
    class="bg-gray-500 flex flex-col gap-4 items-center justify-center overflow-hidden px-4 md:px-8 text-center rounded-xl h-32 md:h-48 group relative bg-cover"
>

<h2 class="text-lg/6 md:text-3xl text-white font-bold drop-shadow-provider line-clamp-2 z-10">
    {{x.name}}
</h2>

<div class="bg-white rounded-lg py-1 px-2 absolute top-2 left-2 text-[10px] md:text-sm z-10">
    {{x.mainCategory.name}}
</div>

<div class="
    {% if x.aiRating >= 0 and x.aiRating <= 3 %}
        bg-red-500 text-red-950 ring-1 ring-offset-1 ring-offset-red-100 ring-red-500
    {% elif x.aiRating >= 3 and x.aiRating <= 4 %}
        bg-orange-500 text-orange-950 ring-1 ring-offset-1 ring-offset-orange-100 ring-orange-500
    {% elif x.aiRating >= 4 and x.aiRating <= 4.5 %}
        bg-lime-500 text-lime-950 ring-1 ring-offset-1 ring-offset-lime-100 ring-lime-500
    {% elif x.aiRating >= 4.5 and x.aiRating <= 5 %}
        bg-green-500 text-green-950 ring-1 ring-offset-1 ring-offset-green-100 ring-green-500
    {% endif %}
    font-bold rounded-lg py-1 px-2 absolute top-2 right-2 text-[10px] md:text-sm z-10">
    {{x.aiRating}}
</div>

{% if x.photos and x.photos|length > 0 %}
{% set first_image = x.photos[0] %}
    <img
        class="absolute inset-0 h-full w-full z-0 transition-transform scale-100 group-hover:scale-125 object-cover brightness-75"
        src="{{first_image.responsiveImage.src}}"
        alt="{{x.name | slugify}} cover"
    >
{% endif %}

</a>