<!-- Filter by Main Category with Tabs -->
<div class="flex space-x-2 whitespace-nowrap overflow-auto xl:overflow-visible mb-2 xl:mb-0">
    <!-- Reset Button for "All Categories" -->
    <label class="cursor-pointer">
        <input type="radio" name="mainCategory" value="" x-model="selectedMainCategory" @change="filterProviders()" class="hidden" />
        <div :class="{
            'bg-gray-950 text-white': selectedMainCategory === '',
            'bg-white text-gray-600': selectedMainCategory !== ''
        }" class="px-4 py-2 rounded-xl transition duration-300 border border-gray-200">
            All
        </div>
    </label>
    <template x-for="category in mainCategories" :key="category.id">
        <label class="cursor-pointer">
            <input type="radio" name="mainCategory" :value="category.name" x-model="selectedMainCategory" @change="filterProviders()" class="hidden" />
            <div :class="{
                'bg-gray-950 text-white': selectedMainCategory === category.name,
                'bg-white text-gray-600': selectedMainCategory !== category.name
            }" class="px-4 py-2 rounded-xl transition duration-300 border border-gray-200">
                <span x-text="category.name"></span>
            </div>
        </label>
    </template>
</div>