{% if locale === "de" %}{% set data = datocms_data_de %}{% else %}{% set data = datocms_data_en %}{% endif %}
<!DOCTYPE html>
<html lang="{{ locale }}" style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src="/js/alpine.js" defer></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class="">

    <div class="bg-white border border-gray-200">
        {% include "layout/header.html" %}
        {{ content | safe }}
    </div>

</body>
</html>